
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
<footer>
  <div class="container">
  <div class="top">
    <div class="desc">
      <p>Speedy</p>
      <span><p>financial transactions remotely using a device such as a mobile phone, tablet or PC</p></span>
      <ul class="social-icons">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="terms">
      <p>Speedy</p>
      <ul>
        <li>About</li>
        <li>Terms of Use</li>
        <li>Privacy Policy</li>
        <li>How it Works</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="support">
      <p>Support</p>
      <ul>
        <li>Support Center</li>
        <li>24h Service</li>
        <li>Quick Chat</li>
      </ul>
    </div>
    <div class="contact">
      <p>Contact</p>
      <ul>
        <li>WhatsApp</li>
        <li>Support 24</li>
      </ul>
    </div>
  </div>
  <div class="below">
    <div>
      <p>&copy; 2023 Speedy. All rights reserved.</p>
    </div>
    <div class="speedy">
      <p>Speedy</p>
    </div>
  </div>
</div>
</footer>


<!-- <footer>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <p>&copy; 2023 Your App Name. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-right">
              <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer> -->