{% extends 'nav-bar.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/services.css') }}">
<div class="services">
  <div class="business-services">
    <article>Business Services</article>
    <p class="smart">Smart solutions for successful businesses.</p>
    <p class="para">It's easier to reach your goals when you have the right account. We'll help you choose the one that'll get you
      there<br>(Feature coming soon)</p>
  </div>
  <div class="other-services">
    <article>
      Other Services
    </article>
    <p>E-Statement</p>
    <a href="{{ url_for('contact', username=customer.username) }}" class="learn">Learn More ></a>
  </div>
  <div class="payment">
    <article>Payments</article>
    <p>You can make seamless payments with speedy bank. We are here to make your life easier.<br>(Feature coming soon)</p>
  </div>
  <div class="rewards">
    <article>Rewards</article>
    <p>Gain exciting rewards as you continue to use the speedy bank app.<br>(Feature coming soon)</p>
  </div>
</div>
{% endblock %}